<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://ompampassas.westeurope.cloudapp.azure.com:3306/ompampassas</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="gr.uoa.di.entities.EventsEntity"/>
      <mapping resource="gr/uoa/di/entities/EventsEntity.hbm.xml"/>
      <mapping resource="gr/uoa/di/entities/ParentEntity.hbm.xml"/>
      <mapping class="gr.uoa.di.entities.ParentEntity"/>
      <mapping resource="gr/uoa/di/entities/PlaceEntity.hbm.xml"/>
      <mapping class="gr.uoa.di.entities.PlaceEntity"/>
      <mapping resource="gr/uoa/di/entities/ProviderEntity.hbm.xml"/>
      <mapping class="gr.uoa.di.entities.ProviderEntity"/>
      <mapping resource="gr/uoa/di/entities/TicketEntity.hbm.xml"/>
      <mapping class="gr.uoa.di.entities.TicketEntity"/>
      <mapping class="gr.uoa.di.entities.UserEntity"/>
      <mapping resource="gr/uoa/di/entities/UserEntity.hbm.xml"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>