@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/ClearSans-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/ClearSans-Bold-webfont.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/ClearSans-Italic-webfont.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/clear-sans/ClearSans-BoldItalic-webfont.woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Clear Sans', sans-serif;
    background-size: cover;
    /*background: url("../images/background.jpg") center no-repeat;*/
}

.jumbotron {
    background: url('../images/background.jpg');
    padding-top: 75px;
    height: 400px;
    width: 100%;
    background-size: cover;
}

.panel-heading {
    margin-bottom: 3%;
    font-size: large;
}

.search_bar_container {
    margin-top: 1%;
    transform: scale(1.09);
}

.slider {
    width: 75%;
    margin: 5px auto;
}

.slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.activity-checkbox-filter {
    border: 2px groove #aedefb;
    width: 200px;
    height: 150px;
    overflow-y: auto;
}

.results-search-container1 {
    margin-top: 1%;
    margin-bottom: 10px;
}

.results-search-container2 {
    margin-bottom: 10px;
}

.sortby-container {
    margin-top: 2%;
    margin-left: 26%;
    margin-bottom: 2px;
}

.panel-success {
    background-color: rgba(0, 0, 0, 0);
    font-size: 120%;
    border: none;
    outline: none;
    margin-bottom: 50px;
}

.jumbotron_info {
    margin-left: 2px;
    margin-top: 6%;
    margin-bottom: 80px;
    height: 150px;
    width: 400px;
}

.has-feedback {
    font-size: 120%;
}

ul.user_comments {
    list-style-type: none;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 120%;
}

li.user_comment {
    margin-bottom: 40px;
}

.deletebtn {
    background: url('../images/deletebtn.png') no-repeat;
    width: 40px;
    height: 40px;
    border: 0;
}

#register-picker {
    margin-bottom: 15px;
}

.chosen-container {
    height: 34px;
    font-size: 14px;
}

.chosen-container-single .chosen-single {
    padding: 6px 12px;
    height: 34px;
}

.chosen-container-single .chosen-single div {
    top: 6px;
}

.profile-img {
    max-width: 100%;
}